.about {
    display: flex;
    flex-direction: column;
}

.about .icon {
    padding-right: 5px;
}

.about header {
    height: 11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    padding-left: 3em;
    border-bottom: 1px solid lightgrey;
}

.about .title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.about section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction,
.skills,
.hobbies,
.facts {
    margin: 1.3em 0;
}

.introduction h3,
.skills h3,
.hobbies h3,
.facts h3 {
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: 2em;
}

.introduction p {
    line-height: 2;
    padding-bottom: 1.1em;
}

.skills-wrap {
    display: flex;
}

.skills h4 {
    padding-bottom: 1.2em;
}

.skills ul{
    padding: 0 5em 1em 0;
}

.skill {
    padding: 0 0 1.3em 1em;;
}

.hobby,
.fact {
    padding-bottom: 1.3em;
}

