.main-nav {
    display: flex;
    border-bottom: 1px solid grey;
}

.main-nav h1 {
    font-size: 1.3em;
    padding: 1.1em 2em;
    letter-spacing: 2px;
    border-right: 1px solid grey;
    border-: 1px solid grey;
}

.main-nav .links {
    display: flex;
    align-items: center;
}

.main-nav .link {
    font-size: 1.1em;
    margin-left: 1em;
    padding-right: 1em;
    border-right: 1px solid grey;
}