.main-nav {
    display: flex;
    width: 100%;
    position: fixed;
    margin-bottom: 3em;
    border-bottom: 1px solid;
    z-index: 10;
}

.main-nav h1 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.2em 2.2em;
    letter-spacing: .4em;
    border-right: 1px solid;
}

.main-nav .links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.main-nav .link {
    font-size: .8em;
    letter-spacing: .3em;
    margin-left: 1.5em;
    padding-right: 1.5em;
    border-right: 1px solid;
}

.link.last{
    border: none;
}