.projects {
    display: flex;
    flex-direction: column;
}

.projects header {
    height: 11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
    border-bottom: 1px solid lightgrey;
}

.projects .title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.projects section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
}

.featured.project{
   border: 1px solid lightgrey;
   width: 90%;
   margin: 1.5em auto;
   display: flex;
   flex-direction: column;
}

.project-image {
    width: 100%;
}

.others-title {
    font-size: 2em;
    margin: 1em auto;
}

.other {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1.5em auto;
}
.other .project {
    width: 45%;
    height: 13em;
    margin: 1em;
    border: 1px solid lightgrey;
}

.other .gh {
    float: right;
    padding: 1em 1em 0 0;
}

.other .code {
    padding: 1em 0 0 1em;
}

.other div {
    padding: 1em 0 0 1em;
}

.other h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5em;
}

.other .date {
    font-style: italic;
}

.other p {
    padding: 1em 0;
}


.tech {
    display: inline;
    padding-right: 1em;
}