.projects {
    display: flex;
    flex-direction: column;
}

.projects header {
    height: 11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
    border-bottom: 1px solid lightgrey;
}

.projects .title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.projects section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
}

.featured.project{
   border: 1px solid lightgrey;
   width: 90%;
   margin: 1.5em auto;
   display: flex;
   flex-direction: column;
}

.project-image {
    width: 100%;
}

.featured div {
    padding: 1em
}

.featured h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5em;
    letter-spacing: .1em;
}

.featured .date,
.other .date {
    font-style: italic;
}

.featured p {
    padding: 1em 0;
}

.featured ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
}

.featured .gh {
    float: right;
    margin-top: -3em;
}

.other-title {
    font-size: 2em;
    margin: 1em auto;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.other {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1em auto;
}
.other .project {
    width: 45%;
    margin: 1em;
    border: 1px solid lightgrey;
}

.other .gh {
    float: right;
    padding: 1em 1em 0 0;
}

.other .code {
    padding: 1em 1em 0 1em;
}

.other h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5em;
    letter-spacing: .1em;
}

.other div {
    padding: 1em 1em 0 1em;
}

.other p {
    padding: 1em 0;
}

.other ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5em 1em 0;
    line-height: 2;
}

.tech {
    padding-right: 1em;
}

@media only screen and (max-width: 1300px) {
    .other {
        flex-direction: column;
        align-items: center;
    }
}