.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    background-color: teal;
}

.sidebar .header {
    height: 12em;
    border-bottom: 1px solid red;
    margin-bottom: 2em;
}

.sidebar .header h1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 2em;
    padding-bottom: .75em;
}

.sidebar .header p {

}

.sidebar .intro p {
    height: 12em;
    line-height: 2;
    border-bottom: 1px solid red;
}

.sidebar .contact {
    
}