.sidebar {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;
}

.sidebar section {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.text {
    border-bottom: 1px dotted grey;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sidebar .header {
    height: 20em;
    border-bottom: 1px solid grey;
    margin-bottom: 2em;
}

.sidebar .header h1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 2em;
    padding-bottom: .75em;
}

.sidebar-intro {
    height: 10em;
    padding: 2em 0;
    border-bottom: 1px solid grey;
}

.sidebar-intro p {
    line-height: 2;
}

.sidebar-contact ul {
    display: flex;
    margin: 2.5em 0;
}

.sidebar-contact .link {
    color: grey;
    opacity: .7;
    padding-right: 1em;
}

.copyright {
    color: grey;
    opacity: .4;
}